
h2{
    font-family: sans-serif ;
}

/* Bordered form */
form {
    border: 3px solid #d3d3d3;
}

/* Full-width inputs */
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Button styles */
button {
    background-color: #d3d3d3;
    color: dimgray;
    padding: 14px 20px;
    margin: 8px 0;
    border: aqua;
    cursor: crosshair;
    width: 100%;
}

/* Hover effect for buttons */
button:hover {
    opacity: 0.9;
}

/* Center the floating form image */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Logo displaying above forms */
img.decal {
    width: 10%;
    border-radius: 100%;
    image-resolution: normal;
    size: 9px;
}

/* Wrapper padding */
.wrapper {
    padding: 15px;
}

/* Forgot Password (pswd) text */
span.pswd {
    float: right;
    padding-top: 16px;
}

/* Change styles for span */
@media screen and (max-width: 300px) {
    span.pswd {
        display: block;
        float: none;
    }
}

/* Section for navigation bar */
#navbar {
    overflow: hidden;
    background-color: #333;
}

/* Links on the Navigation bar */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Page content */
.content {
    padding: 18px;
}

/* When used with stickynav.js, it will keep the nav bar on the page during scrolling */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* A bit of padding around the nav bar and the content */
.sticky + .content {
    padding-top: 60px;
}

.body {
    background-color: lightgrey;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.newBody{
    background-color: grey;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
h3{
    align-content: center;
    text-align: center;


}